body{
    margin: 0;
    font-family: sans-serif;
    line-height: 1;
    align-items: center;
}

.wrapper{
    display: flex;
    height: 100vh;
}

.main{
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

#PokeDex{
    display: flex;
    justify-content: center;
    background-color: red;
}

#Pokemon-Header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

#teamRocket{
    margin: 0;
    padding: 0;
    text-align: center;
}

.bullet{
    display: inline-block;
    text-align: left;
}


.searchHolder{
    float: left;
}

.spanSearch{
    display: block;
    overflow: hidden;
    padding: 0px 4px 0px 6px;
    margin-top: 10px;
}

#search{
    width: 70%;
}

input{
    font-size: 1rem;
}

#Pokemon-List{
    margin: 2rem;
    align-content: center;
    align-items: center;
}

/*end of index.html elements*/

.pokemonCards{
    margin-top: 100px;
    margin: 2rem; 
    align-content: center;
    align-items: center;
} 

.backEnd{
    display:block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding: 5px;
    text-align: center;
    width: 15rem;
    height: 25rem;
    margin: 1rem 2rem;
}

.frontCard{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52;
    cursor: move;
    background: url(https://cdn.bhdw.net/im/pikachu-pattern-wallpaper-56185_w635.webp) center no-repeat;
  }

  .pokemonImages{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    background-color: black;
    width: 14rem;
    height: 15rem;
}